.container-full{
    width: 100%;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
ul.app {
    display: flex;
    justify-content:space-between;
    grid-gap: 10px;
    padding: 0;
    margin: 30px 0;
    
    ul{
        border-bottom: solid rgb(203, 202, 202) 1px;
        li{
            color: #4A4A4A;
            font-size: 0.9rem;
        
        img{
        box-shadow:0 0px 5px 0 rgb(0, 0 ,0 ,10%)
        width: 516px;
        margin: 0;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -webkit-border-radius: 20px;
        }
        h2{
            margin: 0 ;
        }
        p{
            margin-top: 5px ;
        }
        }
    }
    

}