@import "../sass/_variables.scss";
@import "../sass/_reset.scss";
@import "../sass/_global.scss";
@import "../sass/_typography";
@import "../sass/_header.scss";
@import "../sass/_footer.scss";
@import "../css/all.css";
@import "../css/solid.css";

#border{
    text-align: center;
    margin-top: 110px  ;
    background: #E8F2F9;
    border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 12px 0;
  font-size: 1.1rem;
 a{
    font-weight:lighter;
    color: #4A4A4A;

    span{
      color:#1A73B1;
      font-weight: bold;
    }
  }
 }

 .rectangle{
  position: relative;
  ul.app{

    li.list{
      ul{
        background:$white;
        border-radius: 20px;
        margin-bottom: 50px;
        .content{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0 20px;
          margin: 5px 0 -5px 0;

          p{
            margin-top: 8px;
            font-size: 0.88rem;
          }
        }
                 
        .download{ 
          margin-bottom:15px ;
          background-color: $button-background;
          padding: 5px 15px;
          border-radius:20px;
          a{
            color: $white;
           
          }
        }
        li{

          img{
            width: 516px;
            height: 311px;
            border-radius: 0;
          }
        }
      }
    }
  }
 }

  
.rectangle::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  content: "";
  background: $button-background;
}
.list.two-columen{
    justify-content: right ;
    grid-gap: 60px;
}